---
title: Union Sportive Dionysienne
---


<div class="page_home">
  <div class="section_top-bar">
    <div class="container">
      <div class="col-md-3 offset-md-9">
        <a href="#">Mon club</a>
      </div>
    </div>
  </div>
  <div class="page_home__content">
    <div class="container">
      <div class="col-md-8 offset-md-2">
        <h1>
          Union Sportive Dionysienne
          <%= image_tag 'logo.png' %>
        </h1>
        <p>Bienvenue sur le site de L'Union Sportive Dionysienne !</p>
      </div>
      <div class="col-md-12">
        <ul>
          <li><a href="#" target="_blank" class="button">Footeo</a></li>
          <li><a href="#" target="_blank" class="button">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
